.build-page__build-carousel__container {
  display: flex;
  gap: 20px;
}

.build-page__champion-portrait {
  border-radius: 10px;
}
.build-display-container {
  display: flex;
}

.rune-display-container {
  flex: 1.5;
}